/*
 *= require jquery.ui.datepicker
 *= require jquery.ui.autocomplete
 *= require select2
 */

#s2id_candidate_company_ids {
  width: 701.25px;
  border-radius: 4px;
}

#s2id_autogen1 {
  width: auto;
}