.row
  .col-lg-8.col-lg-offset-2
    .panel-body
      .input-group
        %span.input-group-btn
          = link_to '#', class: 'btn search' do
            %i.glyphicon.glyphicon-search
        %input.form-control{ :placeholder => "Search for...", :type => "text", style: 'border: 1px solid #fff' }