.row{ style: 'padding-bottom: 30px;' }
  .col-lg-8.col-lg-offset-2
    .panel-body
      = form_tag path, method: :get do
        .input-group
          = text_field_tag :tags, params[:tags], style: 'border: 1px solid #fff', id: 'tags',
                                                 placeholder: 'Search for...', class: 'form-control',
                                                 data: { autocomplete_source: searches_path }
          %span.input-group-btn
            = button_to '#', class: 'btn search', style: 'border-radius: 4px; border-bottom-left-radius: 0; border-top-left-radius: 0;' do
              %i.glyphicon.glyphicon-search
        - if objects.blank?
          %section
            .text-center
              %h3
                Please try modifying your search to get more results.