.row
  .col-xs-8.col-xs-offset-2
    .panel-body
      .input-group
        %span.input-group-btn
          = link_to '#', class: 'btn btn-info' do
            %i.glyphicon.glyphicon-search
        %input.form-control{:placeholder => "Search for...", :type => "text"}