<p style="font-size: 14px">
    Имеет статус
    &nbsp;
    <span class="label label-primary">
        Отобранные
    </span>
    &nbsp;
    для вакансии
    <span class="label label-info">
        Программист руби1
    </span>
</p>