<p style="font-size: 14px">
    Имеет статус
    &nbsp;
    <span class="label label-primary">
        <%= staff_realation_status %>
    </span>
    &nbsp;
    для вакансии
    <span class="label label-info">
        <%= staff_realation_vacancy_name %>
    </span>
</p>