<tr>
    <td><a id="profile-name" href="/candidates/13">Тирион Ланистер1</a></td>
    <td>300-500 USD</td>
    <td>
        <span class="label label-info">
          2017-03-13 в 09:38
        </span>
    </td>
    <td>
        <form role="form" id="form-13" class="edit_vacancy" action="/vacancies/3" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" value="✓" type="hidden"><input name="_method" value="put" type="hidden">        <div class="bg-danger text-danger" id="error_explanation"></div>
            <input value="13" name="vacancy[candidate_id]" id="vacancy_candidate_id" type="hidden">
            <input value="2" name="vacancy[user_id]" id="vacancy_user_id" type="hidden">
            <select class="vacancy_sr_status" id="13" name="vacancy[sr_status]"><option value="Нейтральный">Нейтральный</option>
                <option selected="selected" value="Найденные">Найденные</option>
                <option value="Отобранные">Отобранные</option>
                <option value="Собеседование">Собеседование</option>
                <option value="Утвержден">Утвержден</option>
                <option value="Не подходит">Не подходит</option>
                <option value="Отказался">Отказался</option></select>
        </form>
    </td>
</tr>