<hr>
<p>
    Ни один кандидат не был выбран для этой категории
</p>
<div class="text-center">
    <img src="/assets/facepalm-2cc20f90198977b69c2ef861b36052306fa67c977db929dccfafae9a8b7cc2ea.gif" alt="Facepalm">
</div>
