-# coding 'utf-8'
- content_for :left_sidebar do
  .panel-success
    .panel-heading
      Управление
  .panel-body
    - if status.present?
      #current-status-vacancy{data: { vacancyid: vacancy.id } }
        %code Статус:
        = select_tag(:applied_status, options_for_select(Vacancy::STATUSES))
    -else
      %code= 'Статус: в процессе'
    %br
    %code
      = "Ответственный: #{get_author_vacancy(vacancy)}"
