.vacancy-candidates
  = render partial: 'vacancies/vacancy_candidates', locals: { vacancy_candidates: @vacancy_candidates, vacancy: @vacancy, sr_status: @sr_status }

.modal.fade#myModal
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ "aria-label" => "close", "data-dismiss" => "modal", type:'button' }
          %span{ "aria-hidden" => true }
            &times;
        %h4.modal-title Кандидаты
      = form_tag staff_relations_path(vacancy_id: @vacancy), remote: 'true' do
        .modal-body.candidates_list_in_modal
          -#= render 'candidates_list_in_modal', locals: { candidates: @candidates }
        .modal-footer
          %button.btn.btn-default{ type: 'button', "data-dismiss" => "modal" } Отменить
          = submit_tag 'Выполнить', class: 'btn btn-default'
