.vacancy-candidates
  = render partial: 'vacancies/vacancy_candidates', locals: { vacancy_candidates: @vacancy_candidates,
                                                              vacancy: @vacancy,
                                                              status: @status }