.row
  .col-lg-6.col-lg-offset-3
    .panel.add-shadows
      .panel-heading
        .panel-title.tip
          Редактировать новую вакансию
      .panel-body
        = render partial: 'vacancies/form'