.panel.panel-success
  .panel-heading.panel-title
    Редактировать новую вакансию
  .panel-body
    = render partial: 'vacancies/form'

= render partial: 'vacancies/left_sidebar', locals: { status: @vacancy.status, vacancy: @vacancy }