.col-lg-12
  .panel.add-shadows
    .panel-heading
      .panel-title
        Добавить новую вакансию
    .panel-body
      .row
        .col-lg-6.col-lg-offset-3
          = render partial: 'vacancies/form'