.col-xs-6
  .panel.panel-info
    .panel-heading
      .row.panel-title
        .col-xs-6
          = link_to sticker.title, sticker_path(sticker)
        .col-xs-offset-2.col-xs-4
          = link_to edit_sticker_path(sticker) do
            %i.glyphicon.glyphicon-pencil
          = link_to sticker_path(sticker), method: :delete,
                                            data: { confirm: 'Вы действительно хотите удалить стикер?' } do
            %i.glyphicon.glyphicon-remove-circle
    .panel-body
      .row
        .col-xs-12
          = sticker.description