.col-xs-6
  .panel.panel-primary
    .panel-heading
      .row
        .col-xs-6.panel-title.sticker-title
        .col-xs-offset-2.col-xs-4.panel-title
          = link_to edit_sticker_path(sticker), class: 'glyph_edit_link' do
            %i.glyphicon.glyphicon-pencil
          = link_to sticker_path(sticker), method: :delete, class: 'glyph_destroy_link',
                                            data: { confirm: 'Вы действительно хотите удалить стикер?' } do
            %i.glyphicon.glyphicon-remove-circle
    .panel-body
      .row
        .col-xs-12.sticker-desc
          = sticker.description
