= stylesheet_link_tag 'stickers'
.row
  .col-xs-12
    %p= link_to 'Посмотреть закрытые стикеры', archives_path(object_name: 'sticker'), class: 'btn btn-default'
.row
  = render partial: 'stickers/sticker', collection: @stickers
.row
  .col-xs-12
    = paginate @stickers
