<tr>
    <td><%= name %></td>
    <td><%= phone %></td>
    <td><%= email %></td>
    <td><input id="event_candidate" type="radio" group="group_event_candidate" name="event[staff_relation_attributes[candidate_id]]" value="<%=id%>" class="radio-inline"></td>
</tr>