<div class="future items-list">
    <table class="table table-bordered table-hover table-list">
        <thead>
            <tr>
                <th>Событие</th>
                <th>Имя Вакансии</th>
                <th>Имя Кандидата</th>
                <th>Время события</th>
                <th>Действия</th>
            </tr>
        </thead>
    </table>
</div>