<div class="future items-list">
    <table class="table table-bordered table-hover table-list">
        <thead>
            <tr>
                <th>Событие</th>
                <th>На вакансию</th>
                <th>С кем</th>
                <th>Время события</th>
                <th>Описание</th>
                <th>Действия</th>
            </tr>
        </thead>
    </table>
</div>