= month_calendar events: events, title: title_calendar, previous_link: previous_month_link, next_link: next_month_link, day_names: 'date.day_names', table: {class: 'table table-bordered'}, tr: {class: 'calendar-row'}, td: {class: 'day'} do |date, events|
  = date