= render 'dialog'

= month_calendar events: events, table: { class: 'table table-bordered',
                                 data: { date: @date_from.strftime('%Y-%m-%d') } },
                                 tr: { class: 'calendar-row' },
                                 td: default_td_classes(events),
                                 day_names: 'date.day_names' do |date, events|
  %span{data: {day: date.day}}
    = date.day
  - if events.present?
    %a.event-badge
      = events.count