#editEvent.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg.event-dialog
    .modal-content
      .modal-header
        %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
          %span{ 'aria-hidden' => 'true' } ×
        %h3.modal-title
          Редактировать событие
      .modal-body
        #error_explanation.bg-danger.text-danger
        .form-group#event_name_group
          %label.label_event_name Название события:
          %input#event_name.form-control{type:"text", name: "event[name]"}
          %input#event_id.form-control{type:"hidden", name: "event[id]"}
        .form-group
          %label Дата события:
          .input-group.date#datetimepicker
            %input#event_will_begin_at{type:"text", name: "event[will_begin_at]", data: { date_format: 'YYYY/MM/DD HH:mm:ssZ' }, class: 'date-input form-control'}
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
        .form-group
          %label Описание:
          %textarea#event_description.form-control{rows:"3", name:"event[description]"}
        .form-group
          %btn.btn.btn-default{ 'data-eventid' => 0} Сохранить
