= stylesheet_link_tag 'events'

.col-md-offset-2.col-md-8
  .panel.add-shadows
    .panel-heading
      .panel-title
        Календарь событий
    .panel-body
      = link_to 'Создать новое событие', new_event_path, remote: true, class: 'btn btn-success pull-right'
      .calendar
        = render partial: 'calendar', locals: { events: @events }