= stylesheet_link_tag 'events'

.col-xs-5
  .panel.add-shadows
    .panel-heading-events
      = render partial: 'events_list', locals: { events: @events }
.col-xs-7
  .panel.add-shadows
    .panel-heading
      .panel-title
        Календарь событий
    .panel-body
      = link_to 'Создать новое событие', new_event_path, remote: true, class: 'btn btn-success pull-right'
      .calendar
        = render partial: 'calendar', locals: { events: @events }