= stylesheet_link_tag 'events'

.col-md-6
  - if @events
    .panel.add-shadows
      .panel-heading
        .panel-title
      .panel-body
        .events-list
          = render partial: 'events_list', locals: { events: @events }
.col-md-6
  .panel.add-shadows
    .panel-heading
      .panel-title
        Календарь событий
    .panel-body
      = link_to 'Создать новое событие', new_event_path, remote: true, class: 'btn btn-success pull-right'
      .calendar
        = render partial: 'calendar', locals: { events: @events }