.panel.panel-default
  .panel-heading.panel-title
    Добавить новое событие
  .panel-body
    .row
      .col-xs-6
        = render partial: 'form'
        = link_to 'Назад', events_path, class: 'btn btn-default'
