.col-xs-5
  .panel.panel-success
    .panel-heading.panel-title
      = @event.name
    .panel-body
      Начало события:
      = @event.starts_at.strftime('%H:%M   %d-%m-%y')

  = link_to 'Редактировать', edit_event_path(@event), class: 'btn btn-default'
  = link_to 'Назад', events_path, class: 'btn btn-default'
