%strong Стикер был выполнен!
%br
%br
= @sticker.description
%br
%br
= "Закончил: #{get_author_and_date(@sticker)}"
%br
= "Затрачено времени:" + distance_of_time_in_words(@sticker.created_at, DateTime.now)