= stylesheet_link_tag 'candidates/candidates'

.row
  .col-sm-12
    .tip
      %p
        Редактирование кандидата
.row
  .col-md-2
    = image_tag 'missing_medium.png', class: 'img-responsive'

  .col-md-5
    = render partial: 'candidates/form'

  .col-md-5
    - if @candidate.original_cv_data
      %button{class: 'btn btn-info', type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#collapseExample', 'aria-expanded' => 'false', 'aria-controls' => 'collapseExample'}
        Показать резюме
      #collapseExample.collapse
        = render partial: 'candidates/resume'
