= stylesheet_link_tag 'candidates/candidates'
= javascript_include_tag 'candidates/candidates'

= render partial: 'share/search', locals: { path: candidates_path, objects: @candidates }

.container.candidates_partial
  .row
    .col-lg-12
      .pull-right.button_paranoid
        = link_to 'Архив Кандидатов', archives_path(object_name: 'candidates'), class: 'paranoid_btn'
