= render partial: 'share/search'
= stylesheet_link_tag 'candidates/candidates'
= javascript_include_tag 'candidates/candidates'

.container
  .candidates_partial
    = render partial: 'candidate_show', :locals => { candidates: @candidates, status: @status }


