-login: &login
-  adapter: postgresql
-  encoding: utf8
-  host: localhost
-  username: username
-  password: userpassword
Add a comment to this line
-
-development:
-  <<: *login
-  database: youappdatabasename_development
-
-test:
-  <<: *login
-  database: youappdatabasename_test
-
-production:
-  <<: *login
-  database: youappdatabasename_production