.col-lg-3
  .panel.add-shadows
    .panel-body
      = render partial: 'companies/left_sidebar'

.col-lg-9
  .panel.add-shadows
    .panel-heading
      .panel-title
        Изменить данные компании
    .panel-body
      = render partial: 'companies/form'