.col-lg-offset-3.col-lg-6
  .panel.add-shadows
    .panel-heading
      .panel-title.tip
        Изменить данные компании
    .panel-body
      = render partial: 'companies/form', locals: { company: @company }