.col-lg-2.col-lg-offset-2
  .panel.add-shadows
    .panel-body
      = render partial: 'companies/left_sidebar'

.col-lg-6
  .panel.add-shadows
    .panel-heading
      .panel-title.tip
        Добавить новую компанию
    .panel-body
      = render partial: 'companies/form'