.container
  .row
    .col-lg-10.col-lg-offset-1{ style: 'border-bottom: 1px solid #FFF;' }
      .tip
        %p
          Добавить новую компанию
      = render partial: 'companies/form', locals: { company: @company, format: :html }