= render partial: 'share/search', locals: { path: object_path(@objects), objects: @objects }
.container
  %br
  %br
  = render partial: "archives/#{@partial_name}", locals: { @partial_name.to_sym => @objects }