= stylesheet_link_tag 'stickers'
.row
  .col-xs-12
    %p= link_to 'Вернуться назад', stickers_path, class: 'btn btn-default'
.row
  = render partial: 'archives/sticker', locals: {objects: @objects}
.row
  .col-xs-12
    = paginate @objects
