/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 *= require stickers
 * require_tree .
 */

.form-group {
  margin-bottom: 25px;

  label {
    vertical-align: top;
  }

  .label-theme {
    padding-right: 50px;
  }

  .label-desc {
    padding-right: 15px;
  }
}

div.nav {
  background-color: white;
  border: 1px #cccccc;
}

nav.navbar {
  border: 1px #cccccc;
}

div.wraper {
  border: 1px #cccccc;
  background-color: white;
}

//div { border: 1px solid grey; }

div.sidebar_left {
  border: 1px #cccccc;
  background-color: white;
}

div.top{ padding-top: 10px; }

div.brand{
  padding-left: 15px;
  padding-right: 15px;
  font-style: italic;
}

div.button { padding-left: 147px; }

div.icon { padding-left: 147px; }

body { background-color: lightgrey; }

.navbar-brand
{
  text-align: center;
  margin: auto;
}

p.sign {
  padding-right: 15px;
  font-size: 18px;
}

i { width: 90px; }

