/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require spacelab
 * require bootstrap_and_overrides
 * require_tree .
 */

.current {
  border-bottom: 2px solid limegreen;
}

body.jumbotron {
  padding-bottom: 30px;
  padding-top: 30px;
}

ul.nav.navbar-nav > li > a {
  padding-bottom: 3px;
  padding-top: 3px;
  text-align: center;
}

.tip {
  color: #BDBDBD;
  font-style: italic;
}

.add-shadows {
  -webkit-box-shadow: 8px 8px 6px -6px #999 !important;
  -moz-box-shadow: 8px 8px 6px -6px #999 !important;
  box-shadow: 8px 8px 6px -6px #999 !important;
}
