/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 * require_tree .
 */

.current {
  border-bottom: 2px solid limegreen;
}

.jumbotron {
  padding-bottom: 10px;
  padding-top: 10px;
}

ul.nav.navbar-nav > li > a {
  padding-bottom: 3px;
  padding-top: 3px;
  text-align: center;
}

.panel {
  word-wrap: break-word;
}

.table-info {
  th { width: 12%; }
}

.calendar {
  width: 700px;
  header {font-size: 30px};
  thead {background-color: lightblue;};
  td { height: 100px; width: 100px; }
  .prev-month { background-color: #DDDDDD; }
  .next-month { background-color: #dff0d8; }
  .current-month { background-color: #f4f4f4; }
  .today { background-color: #FFFFCC;}
}

.tip {
  color: #BDBDBD;
  font-style: italic;
}

// candidates for vacancy modal
#candidates-multiselect {
  width: 62em;
  height: 30em;
  padding: 10px;
  border: solid 1px #c0c0c0;
  overflow:auto;
}

.table_action {
  table-layout: fixed; /* Фиксированная ширина ячеек */
  background-color: #f4f4f4;
}

.event-badge{
  background-color: #ffffff;
  border-radius: 50px;
  color: #428bca;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 35px;
  line-height: 30px;
  margin: 3px auto;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  white-space: nowrap;
  width: 35px;
}
.td-primary{
  background-color: #428bca ;
  color: #ffffff;
  .modal{
    color: #212121;
    table{
      thead{
        color: #fff;
        background-color: #428bca;
        font-size: 12px;
      }
      td{
        height: auto;
        width: auto;
        line-height: 30px;
        .label{
          vertical-align: middle;
        }
        a{
          text-decoration: none;
        }
      }

    }
  }
}
.event-badge:empty {
  display: none;
}

.add-shadows {
  -webkit-box-shadow: 8px 8px 6px -6px #999;
  -moz-box-shadow: 8px 8px 6px -6px #999;
  box-shadow: 8px 8px 6px -6px #999;
}
