/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require spacelab
 * require bootstrap_and_overrides
 * require_tree .
 */

.current {
  border-bottom: 2px solid limegreen;
}

ul.nav.navbar-nav > li > a {
  padding-bottom: 3px;
  padding-top: 3px;
  text-align: center;
}

.tip {
  color: #999 !important;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  p.subscription {
    font-size: 14px;
  }
}

.add-shadows {
  -webkit-box-shadow: 8px 8px 6px -6px #999 !important;
  -moz-box-shadow: 8px 8px 6px -6px #999 !important;
  box-shadow: 8px 8px 6px -6px #999 !important;
}

.items-list {
  color: #212121;
  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > tfoot > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > td {
    border: 1px solid #0e80e5 !important;
  }
  table {
    thead {
      background-image: linear-gradient(#7bbdf7, #3399f3 50%, #208ff2);
      background-repeat: no-repeat;
      filter: none;
      color: #fff;
      font-size: 12px;
    }
    td {
      height: auto;
      width: auto;
      line-height: 30px;
      .label {
        vertical-align: middle;
      }
      a {
        text-decoration: none;
      }
    }
  }
}

.items-list.past {
  color: #868686;
  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > tfoot > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > td {
    border: 1px solid #275693 !important;
  }
  table {
    thead {
      background-image: linear-gradient(#3F6589, #14577C 50%, #12487F);
      background-repeat: no-repeat;
      filter: none;
      color: #aeaeae;
      font-size: 12px;
    }
    td {
      height: auto;
      width: auto;
      line-height: 30px;
      .label {
        vertical-align: middle;
      }
      a {
        text-decoration: none;
      }
    }
  }
}

.past .label-success {
  background-color: rgba(60, 181, 33, 0.23);
}
.past .label-info {
  background-color: rgba(51, 153, 243, 0.22);
}

.past .label-default {
  background-color: rgba(71, 73, 73, 0.22);
}

.td-primary {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3138f7+0,7db9e8+45,f7f727+65,f9f32f+100 */
  background: #3138f7; /* Old browsers */
  background: -moz-linear-gradient(top, #3138f7 0%, #7db9e8 45%, #f7f727 65%, #f9f32f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3138f7), color-stop(45%,#7db9e8), color-stop(65%,#f7f727), color-stop(100%,#f9f32f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3138f7 0%,#7db9e8 45%,#f7f727 65%,#f9f32f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3138f7 0%,#7db9e8 45%,#f7f727 65%,#f9f32f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3138f7 0%,#7db9e8 45%,#f7f727 65%,#f9f32f 100%); /* IE10+ */
  background: linear-gradient(to bottom, #3138f7 0%,#7db9e8 45%,#f7f727 65%,#f9f32f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3138f7', endColorstr='#f9f32f',GradientType=0 ); /* IE6-9 */
  color: #ffffff;

  @extend .items-list;
}