// Place all the styles related to the candidates controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
#candidates-wrapper {
  #toolbar {
    border-top: 3px solid limegreen;
    height: 60px;
    padding: 10px 0px;
    margin: 10px 5px;

    #look_at, #import-from {
      span {
        font-size: 18px;
        color: dimgrey;
        margin-right: 15px;
      }
    }
  }

  #candidates-list {
    thead th{
      padding: 15px;
      background-color: #d3d3d3;
    }

    tbody a {
      text-decoration: none;
      color: black;
    }
  }
}

#new_candidate {
  padding:10px 5px;
  margin-top: 10px;

  .form-group {
    margin-bottom: 5px;
  }

  .title {
    border-top: 3px solid limegreen;
    border-bottom: 1px dashed #d3d3d3;
    padding: 5px 0px;
    font-size: 16px;
    margin-bottom: 10px;
  }

  label {
    font-size: 12px;
    text-align: center;
  }
}

.profile-photo {
  width: 150px;
  height: 200px;
  background-size: cover;
  background-color: #d3d3d3;
}

#candidate-profile {
  padding: 5px;

  span { font-weight: bold; }
}