.calendar {
  header {font-size: 30px};
  thead {background-color: lightblue;};
  td { height: 100px; width: 100px; }
  .prev-month { background-color: #DDDDDD; }
  .next-month { background-color: #dff0d8; }
  .current-month { background-color: #f4f4f4; }
  .today { background-color: #FFFFCC;}
}

.event-badge{
  background-color: #ffffff;
  border-radius: 50px;
  color: #428bca;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 35px;
  line-height: 30px;
  margin: 3px auto;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  white-space: nowrap;
  width: 35px;
}

.event-badge:empty {
  display: none;
}
