// Place all the styles related to the stickers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sticker-info {
  width: 950px;
  height: 100%;
  margin: 0px auto;
}

#stickers-wrapper{
  width: 950px;
  height: 100%;
  margin: 0px auto;

  #add-sticker-panel {
    height: 30px;
    padding: 5px 0px;
    border-bottom: 1px solid #e7e7e7;
  }

  .sticker {
    background-color: rgba(228, 122, 141, 0.75);
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.5);
    display: inline-block;
    float: left;
    margin: 10px 10px 20px 10px;
    padding: 5px 10px;
    position: relative;
    width: 240px;

    .sticker-title {
      border-bottom: 1px solid #e7e7e7;
      font-size: 14px;
      font-weight: bold;
      line-height: 18px;
      min-height: 25px;
      padding-left: 15px;
      text-align: left;

      .edit-sticker, .remove-sticker {
        font-size: 12px;
      }

      a {
        text-decoration: none;
      }

      .sticker-toolbar {
        float: right;
      }
    }

    .sticker-desc {
      box-sizing: border-box;
      font-size: 16px;
      line-height: 1.5em;
      min-height: 100px;
      max-height: 150px;
      padding: 15px;
      word-wrap: break-word;
    }
  }
}

.sticker {
  padding: 5px 0px;
  border-top: 3px solid limegreen;
  margin-top: 10px;

  #sticker-title {
    padding: 5px 0px;
    border-bottom: 1px dashed #d3d3d3;
  }
}