!!!
%html
  %head
    %title Faceit
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div.top
    .wrapper#brand
      .row
        .brand
          %a.navbar-brand{ href: '#' }
            Faseit-HRM
            %br/
            system
    .wrapper
      .row
    .container-fluid
      .row
        .col-xs-offset-1.col-xs-2.sidebar_left
          %h2
            left sidebar
        .wrapper.col-xs-offset-1.col-xs-7.col-xs-offset-1.wraper
          = yield