!!!
%html
  %head
    %title Faceit
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .row
        .col-xs-2
          %h2
          %span.glyphicon.glyphicon-thumbs-up Faseit-HRM system

        .col-xs-9.col-md-offset-1
          %table.table.table-condensed.table-hover
            %br
            %tr
              %td
                %a{ href: '#' } Органайзер
              %td
                %a{:href => "#"} Вакансии
              %td
                %a{:href => "#"} Кандидаты
              %td
                %a{:href => "#"} Компании
              %td
              %td
              %td
                %a.pull-right{:href => "#"} Разлогиниться

            %tr
              %td
                %a{:href => "#"}
                  %span.glyphicon.glyphicon-calendar
              %td
                %a{:href => "#"}
                  %span.glyphicon.glyphicon-plus
              %td
                %a{:href => "#"}
                  %span.glyphicon.glyphicon-plus
              %td
                %a{:href => "#"}
                  %span.glyphicon.glyphicon-plus
              %td
              %td
              %td
                %a.pull-right{:href => "#"} Иванов Иван
    .container
      .row
        .col-xs-3
          %h1
            left sidebar
        .col-xs-9.class-wrapper
          = yield
          %ul.pagination
            %li
              %a{"aria-label" => "Previous", :href => "#"}
                %span{"aria-hidden" => "true"} « Previous
            %li
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %a{:href => "#"} 3
            %li
              %a{"aria-label" => "Next", :href => "#"}
                %span{"aria-hidden" => "true"} Next »

